@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/MyriadPro.woff") format("woff"),
  url("../fonts/MyriadPro.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik-Black";
  src: url("../fonts/Rubik-Black.woff") format("woff"),
  url("../fonts/Rubik-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik-Blackitalic";
  src: url("../fonts/Rubik-Blackitalic.woff") format("woff"),
  url("../fonts/Rubik-Blackitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik-Bold";
  src: url("../fonts/Rubik-Bold.woff") format("woff"),
  url("../fonts/Rubik-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik-Bolditalic";
  src: url("../fonts/Rubik-Bolditalic.woff") format("woff"),
  url("../fonts/Rubik-Bolditalic.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik-italic";
  src: url("../fonts/Rubik-italic.woff") format("woff"),
  url("../fonts/Rubik-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik-Light";
  src: url("../fonts/Rubik-Light.woff") format("woff"),
  url("../fonts/Rubik-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik-Lightitalic";
  src: url("../fonts/Rubik-Lightitalic.woff") format("woff"),
  url("../fonts/Rubik-Lightitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik-Medium";
  src: url("../fonts/Rubik-Medium.woff") format("woff"),
  url("../fonts/Rubik-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik-Mediumitalic";
  src: url("../fonts/Rubik-Mediumitalic.woff") format("woff"),
  url("../fonts/Rubik-Mediumitalic.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik-Regular";
  src: url("../fonts/Rubik-Regular.woff") format("woff"),
  url("../fonts/Rubik-Regular.woff2") format("woff2");
}